<div class="grid place-items-center">
  <div class="m-2 p-4 border rounded max-w-sm text-center">
    <h2>Вход</h2>
    <form [formGroup]="form">
      <app-text-input class="mt-3">
        <input id="email" type="email" formControlName="email" placeholder=" " />
        <label for="email">E-mail</label>
      </app-text-input>

      <app-text-input class="mt-3">
        <input id="password" type="password" formControlName="password" placeholder=" " />
        <label for="password">Пароль</label>
      </app-text-input>

      <button class="btn btn-blue mt-4" [disabled]="form.invalid" (click)="login()">Войти</button>
  </form>
  </div>
</div>
