<div id="modal"
     *ngIf="opened"
     class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-black bg-opacity-50"
     >
  <!-- Modal content -->
  <div class="bg-white sm:w-1/2 sm:h-1/2 p-2">
    <!--Close modal button-->
    <button id="closebutton" type="button" (click)="close.emit()" class="focus:outline-none float-right">
      <!-- Hero icon - close button -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
           stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>

    <div class="p-12">
      <ng-content></ng-content>
    </div>

  </div>
</div>
