<app-modal-wrapper
  title="Новый портфель"
>
  <app-text-input class="flex-1">
    <input id="name" type="text" [formControl]="nameControl" (keyup.enter)="save$.next(nameControl.value)" placeholder=" " />
    <label for="name">Название</label>
  </app-text-input>
  <div class="mt-8">
    <button class="btn btn-gray" (click)="ref.close()">Отмена</button>
    <button class="btn btn-blue ml-5" [disabled]="nameControl.invalid" (click)="save$.next(nameControl.value)">Сохранить</button>
  </div>
</app-modal-wrapper>
