<div *ngIf="{ stock: stock$ | async } as async">

  <div *ngIf="!async.stock" class="flex">
    <app-text-input class="flex-1 mr-3">
      <input id="ticker" type="text" [formControl]="ticker" (keyup.enter)="search()" placeholder=" " />
      <label for="ticker">Тикер</label>
    </app-text-input>
    <button class="btn btn-blue my-auto" [disabled]="ticker.invalid" (click)="search()">Искать</button>
  </div>

  <app-stock-form *ngIf="!!async.stock"
    [stock]="async.stock"
    (save)="save($event)"
    (cancel)="close.emit()"
  ></app-stock-form>

</div>
