@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

*:disabled {
  pointer-events: none;
}

.page-wrapper {
  @apply max-w-7xl mx-auto px-2 sm:px-6 lg:px-8;
}

h1 {
  @apply text-xl font-semibold font-medium text-gray-700 text-center;
}

.btn {
  @apply bg-gray-300 hover:bg-gray-200 p-2 my-auto;
}

.btn-green {
  @apply bg-green-300 hover:bg-green-200;
}

.btn-blue {
  @apply bg-blue-300 hover:bg-blue-200;
}

.btn:disabled {
  @apply opacity-50;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-blue-500;
}

.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-4 z-0 ml-3 px-1 py-0;
}
