<h1>Профиль пользователя</h1>

<form [formGroup]="form">

  <div class="flex">

    <div class="preview bg-gray-300">

    </div>

    <div class="ml-4">
      <app-text-input>
        <input id="username" type="text" formControlName="username" placeholder=" " />
        <label for="username">Имя пользователя</label>
      </app-text-input>

      <app-text-input class="mt-3">
        <input id="email" type="email" formControlName="email" placeholder=" " />
        <label for="email">E-mail</label>
      </app-text-input>
    </div>
  </div>

  <div class="mt-6">
    <button class="btn btn-gray" routerLink="/">Отмена</button>
    <button class="btn btn-green ml-3" [disabled]="form.invalid" (click)="save()">Сохранить</button>
  </div>

</form>
