<form [formGroup]="form">

  <app-text-input class="mb-3">
    <input id="username" type="text" formControlName="username" placeholder=" " />
    <label for="username">Имя пользователя</label>
  </app-text-input>

  <app-text-input class="mb-3">
    <input id="email" type="email" formControlName="email" placeholder=" " />
    <label for="email">E-mail</label>
  </app-text-input>

  <div class="mt-6">
    <button class="btn btn-gray" routerLink="/">Отмена</button>
    <button class="btn btn-green ml-3" [disabled]="form.invalid" (click)="save()">Сохранить</button>
  </div>

</form>
